In [5]:
import pandas as pd

In [7]:
data=pd.read_csv('phone_Usage_Indian.csv')
data.head(10)

,User ID,Age,Gender,Location,Phone Brand,OS,Screen Time (hrs/day),Data Usage (GB/month),Calls Duration (mins/day),Number of Apps Installed,Social Media Time (hrs/day),E-commerce Spend (INR/month),Streaming Time (hrs/day),Gaming Time (hrs/day),Monthly Recharge Cost (INR),Primary Use
0,U00001,53,Male,Mumbai,Vivo,Android,3.7,23.9,37.9,104,3.9,469,5.2,4.1,803,Education
1,U00002,60,Other,Delhi,Realme,Android,9.2,28.1,13.7,169,2.8,4997,5.1,0.4,1526,Gaming
2,U00003,37,Female,Ahmedabad,Nokia,Android,4.5,12.3,66.8,96,3.0,2381,1.7,2.9,1619,Entertainment
3,U00004,32,Male,Pune,Samsung,Android,11.0,25.6,156.2,146,5.2,1185,3.2,0.3,1560,Entertainment
4,U00005,16,Male,Mumbai,Xiaomi,Android,2.2,2.5,236.2,86,5.5,106,3.4,2.3,742,Social Media
5,U00006,21,Male,Jaipur,Oppo,Android,5.4,10.6,210.6,25,4.2,6285,0.6,4.8,1749,Entertainment
6,U00007,57,Female,Lucknow,Apple,iOS,6.0,35.2,154.5,123,0.8,2653,2.9,2.3,1073,Social Media
7,U00008,56,Other,Kolkata,Realme,Android,3.1,43.5,125.3,188,2.3,9767,5.2,5.0,1136,Entertainment
8,U00009,46,Female,Kolkata,Oppo,Android,5.3,46.4,21.3,194,3.7,2870,6.1,2.8,1253,Entertainment
9,U00010,44,Other,Kolkata,Apple,iOS,9.9,10.6,180.2,84,4.8,9193,7.6,0.4,168,Education

# 1. Average screen time os

In [9]:
import pandas as pd

# Load the dataset
data = pd.read_csv('phone_Usage_Indian.csv')

# Calculate average data usage for each age group
average_screen_time= data.groupby("OS")["Screen Time (hrs/day)"].mean().reset_index()

# Save to CSV
average_screen_time.to_csv("1Screentime.csv", index=False)

# Display the result
print(average_screen_time)

        OS  Screen Time (hrs/day)
0  Android               6.548979
1      iOS               6.523042

# find the null values in ST

In [7]:
# Remove rows with missing screen time values (if any)
data = data.dropna(subset=['Screen Time (hrs/day)'])

In [15]:
# Fill missing screen time values with the mean
data['ST'] = data['Screen Time (hrs/day)'].fillna(data['Screen Time (hrs/day)'].mean())
data['ST']

0         3.7
1         9.2
2         4.5
3        11.0
4         2.2
         ...
17681     7.2
17682     9.5
17683     1.1
17684     8.8
17685     5.6
Name: ST, Length: 17686, dtype: float64

In [17]:
data['ST'].to_csv('data.csv',index=False)

# 2. Top 5 location with highest average data usage per month

In [21]:
top_locations = data.groupby('Location')['Data Usage (GB/month)'].mean().reset_index()

# Sort the locations by the average data usage in descending order and get the top 10
top_10_locations = top_locations.sort_values(by='Data Usage (GB/month)',ascending=False).head(10)
print(top_10_locations)

top_locations.to_csv('2top_locations.csv',index=False)

    Location  Data Usage (GB/month)
0  Ahmedabad              26.277423
3      Delhi              25.787606
5     Jaipur              25.540954
7    Lucknow              25.534294
4  Hyderabad              25.385647
9       Pune              25.351680
8     Mumbai              25.340825
6    Kolkata              25.205254
1  Bangalore              24.986282
2    Chennai              24.707709

# 3. spend more the 3 hours per day on social media

In [23]:
import pandas as pd
users_above_3_hours = data[data['Social Media Time (hrs/day)']>3]

#count the number of such users
total_users=len(users_above_3_hours)
print(f'Total number of users who spend more than 3 hours per day on social media: {total_users}')

total_users_data=pd.DataFrame({'total_users':[total_users]})

#convert csv file
total_users_data.to_csv('social_media.csv',index=False)

Total number of users who spend more than 3 hours per day on social media: 9454

# 4.Used by the maximum number of users in phone brand

In [25]:
import pandas as pd
brand = data['Phone Brand'].value_counts().reset_index()
print(f'the phone brand used by the maximum number of users is:{brand}')


brand.to_csv('4brand.csv',index=False)

the phone brand used by the maximum number of users is:    Phone Brand  count
0         Nokia   1816
1       OnePlus   1807
2        Xiaomi   1803
3          Vivo   1797
4         Apple   1775
5       Samsung   1764
6        Realme   1762
7  Google Pixel   1729
8      Motorola   1717
9          Oppo   1716

# 5.  average monthly recharge cost for users who primarily use their phone for gaming

In [27]:
average_recharge_cost=data[data['Primary Use']=='Gaming']['Monthly Recharge Cost (INR)']
print(average_recharge_cost)
average_recharge_cost.to_csv('5avg.csv',index=False)

1        1526
21        446
23       1118
26        210
33       1079
         ...
17649    1082
17652    1771
17654    1850
17660     874
17685    1098
Name: Monthly Recharge Cost (INR), Length: 3576, dtype: int64

# 6.Retrieve the top 3 users who make the longest average call duration per day.

In [29]:
data['Average_call_duration_per_day']=data['Calls Duration (mins/day)']
top_3_users = data.sort_values(by='Average_call_duration_per_day',ascending=False).head(3)

# Display the top 3 users
print(top_3_users['Average_call_duration_per_day'])
top_3_users.to_csv('6top3.csv',index=False)

15278    300.0
3940     300.0
5157     299.9
Name: Average_call_duration_per_day, dtype: float64

# 7. Find the most common operating system among users.

In [39]:
os = data['OS'].value_counts().reset_index()
print(f'Find the most common operating system among users is:{os}')

os.to_csv('sevencommon_os.csv',index=False)

Find the most common operating system among users is:        OS  count
0  Android  15911
1      iOS   1775

# 8.Find the users who have installed more than 50 apps on their phones.

In [41]:
a = data[data['Number of Apps Installed']>50][['User ID','Number of Apps Installed']]
print(a)
a.to_csv('8installed_app.csv',index=False)

      User ID  Number of Apps Installed
0      U00001                       104
1      U00002                       169
2      U00003                        96
3      U00004                       146
4      U00005                        86
...       ...                       ...
17681  U17682                        81
17682  U17683                       166
17683  U17684                        70
17684  U17685                        96
17685  U17686                        78

[13856 rows x 2 columns]

In [49]:
a = data[data['Number of Apps Installed']<50][['Phone Brand','Number of Apps Installed']].sum().reset_index()
print(a)
a.to_csv('eightinstalled_app.csv',index=False)

                      index                                                  0
0               Phone Brand  OppoNokiaRealmeMotorolaXiaomiMotorolaXiaomiOne...
1  Number of Apps Installed                                             109821

# 9. Calculate the total e-commerce spending for each gender.

In [50]:
total_spending_by_gender = data.groupby('Gender')['E-commerce Spend (INR/month)'].sum().reset_index()

# Display the result
print(total_spending_by_gender)

total_spending_by_gender.to_csv('9Gender.csv',index=False)

   Gender  E-commerce Spend (INR/month)
0  Female                      30666217
1    Male                      29372728
2   Other                      29730024

# 10. Find users who have both high gaming time (more than 2 hours/day) and High streaming time (more than 3 hours/day

In [11]:
High_gaming_and_streaming = data[(data['Gaming Time (hrs/day)']>2) & (data['Streaming Time (hrs/day)']>3)]
print("User with high gaming and high streaming time:")
print(High_gaming_and_streaming[['Gaming Time (hrs/day)','Streaming Time (hrs/day)']])

High_gaming_and_streaming.to_csv('High_gaming_and_streaming.csv',index=False)

User with high gaming and high streaming time:
       Gaming Time (hrs/day)  Streaming Time (hrs/day)
0                        4.1                       5.2
4                        2.3                       3.4
7                        5.0                       5.2
8                        2.8                       6.1
11                       2.7                       3.5
...                      ...                       ...
17670                    4.1                       3.6
17671                    4.0                       7.9
17674                    4.3                       6.5
17675                    3.4                       4.3
17681                    3.3                       3.8

[6863 rows x 2 columns]

In [36]:
df_filtered =data[(data["Gaming Time (hrs/day)"] >2) & (data["Streaming Time (hrs/day)"]>3)][["User ID","Gaming Time (hrs/day)","Streaming Time (hrs/day)"]]
df_filtered.head(10)
print(df_filtered)
df_filtered.to_csv('10gaming_streaming.csv',index=False)

      User ID  Gaming Time (hrs/day)  Streaming Time (hrs/day)
0      U00001                    4.1                       5.2
4      U00005                    2.3                       3.4
7      U00008                    5.0                       5.2
8      U00009                    2.8                       6.1
11     U00012                    2.7                       3.5
...       ...                    ...                       ...
17670  U17671                    4.1                       3.6
17671  U17672                    4.0                       7.9
17674  U17675                    4.3                       6.5
17675  U17676                    3.4                       4.3
17681  U17682                    3.3                       3.8

[6863 rows x 3 columns]